@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    font-family: 'Lato', sans-serif;
}

a:hover {
    font-size: 26px;
}

/* HEADER */
header {
    grid-column: 2 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 20px 40px;
    border-bottom: 4px solid #f3f4f6;
    gap: 20px;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#header-top-left {
    display: flex;
    gap: 10px;
    width: max(100%, 300px);
    align-items: center;
}

#header-top-right {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
}

h3 {
    grid-row: 1/2;
}

#searchbar {
    grid-row: 1 / 2;
    height: 30px;
    border-radius: 15px;
    background-color: #e5e7eb;
    align-self: top;
    width: 100%;
    border: none;
}

.header-bottom h6 {
    grid-row: 2 / 3;
}

.header-bottom h2 {
    grid-row: 3 / 4;
}

.header-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#header-bottom-left {
    display: flex;
    gap: 20px;
}

#header-bottom-left div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-bottom-right {
    display: flex;
    grid-column: 2 / 3;
    justify-self: end;
    gap: 40px;
}

#header-bottom-right button {
    width: max(50px, 100px);
    height: 45px;
    align-self: center;
    background-color: #0891b2;
    color: #fff;
    border-radius: 25px;
    border: none;
}

/* SIDEBAR */
.sidebar {
    background-color: #0891b2;
    color: #ecfeff;
    grid-row: 1 / 3;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.sidebar h1 {
    font-size: 32px;
}

.sidebar a {
    text-decoration: none;
    color: #ecfeff;
    font-size: 25px;
    font-weight: 500;
}

#sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#sidebar-top div,
#sidebar-bottom div {
    display: flex;
    align-items: center;
    gap: 20px;
}

#sidebar-bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* CONTENT SECTION */

/* CARD SECTION */

.content {
    grid-row: 2 / 3;
    background-color: #ecfeff;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

#content-left {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column: 1 / 2;
    display: grid;
    padding: 40px;
    gap: 30px;
}

.cards {
    background-color: #cffafe;
    height: 200px;
    width: 100%;
    border-left: 10px solid #0891b2;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px #a5f3fc;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.cards h1 {
    font-size: 25px;
    font-weight: bold;
}


/* RIGHT CONTENT BAR */
#content-right {
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    gap: 20px;
}

#content-right-top {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.announcements {
    background-color: #cffafe;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    box-shadow: 4px 4px #a5f3fc;
    border: 1px solid #a5f3fc;
}

.announcements div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.announcements h2 {
    font-size: 22px;
    font-weight: bold;
}

.announcements p {
    color: #6b7280;
}

#content-right-bottom {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trending {
    background-color: #cffafe;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
    box-shadow: 4px 4px #a5f3fc;
    border: 1px solid #a5f3fc;
}

.profile {
    display: flex;
    gap: 10px;
}


.profile h3 {
    font-weight: bold;
    font-size: 1.2rem;
}

.profile h4 {
    font-size: 0.8rem;
    color: #6b7280;
}

/* IMAGES */

#search-icon {
    height: 25px;
    width: 25px;
    flex-shrink: 0;
}

#notification-icon {
    height: 25px;
    width: 25px;
    flex-shrink: 0;
}

#profile-img-1 {
    height: 50px;
    width: 50px;
    flex-shrink: 0;
    border-radius: 40px;
}

#profile-img-2 {
    height: 80px;
    width: 80px;
    flex-shrink: 0;
    border-radius: 40px;
}

.sidebar-icon {
    height: 32px;
    width: 32px;
    flex-shrink: 0;
}